body {
  background-color: #fff7f7;
  color: #0b0b0b;
}
.header { 
  text-align: left;
  
  
}
.App {
  text-align: center;
  
}

.taskBg {
  background-color: #555;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}

.taskBg div {
  display: flex;
  align-items: center;
}

.taskNumber {
  color: #999;
  border: 1px solid #999;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  text-align: center;
  font-size: 14px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
}

.taskBg .taskText {
  flex: 1;
}

.taskBg .done .taskText {
  text-decoration: line-through;
  opacity: 0.3;
}

.taskBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.taskBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #00ff89;
}

.taskBg .iconsWrap span:hover {
  color: yellow;
}

.mr-20 {
  margin-right: 20px;
}
table { 
  width: 80%;
  margin: 20px auto; 
  border-collapse: collapse;
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-spacing: 0;
  border-collapse: separate;
  border-radius:5px;

  }     
th, td { 
  
  padding: 10px;
  text-align: center; 
  border-bottom: 1px solid #ccc;
  }   
  .btnDeletCheckbox{
    background-color: red;
    color: white;  
    padding: 10px 20px;  
    border:none;   
    border-radius: 4px;   
    cursor: pointer;   
    margin-bottom: 10px;
    text-decoration: dotted;
    
  }